@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
}

body {
  background: #343541;
}

.spanheaderLeft {
  float: left;
  width: 50%;
}

.spanheaderRight {
  float: left;
  width: 50%;
  margin-top: -40px;
}
#app {
  width: 100vw;
  height: 90vh;
  background: #343541;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow-y: auto;
}
.scrollContainer {
  height: 100%;
  overflow-y:auto;
}
#chat_container {
  flex: 1;
  width: 100%;
  height: 320px;
  overflow-y:auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-bottom: 20px;
  scroll-behavior: smooth;
}

/* hides scrollbar */
#chat_container::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 100%;
  padding: 10px;
}

.ai {
  background: #40414F;
}

.chat {
  width: 100%;
  /*max-width: 1280px;*/
  margin: 0 auto;
overflow-y: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  
}

.profile {
  width: 22px;
  height: 22px;
  border-radius: 5px;

  background: #5436DA;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ai .profile {
  background: #10a37f;
}

.profile img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.messagebot {
  flex: 1;
  letter-spacing: -0.5px;
  font-family:'Courier New', Courier, monospace;
  color: #fbfaf5;
  font-size: 16px;

  max-width: 100%;
  overflow-x: scroll;

  /*white-space:break-spaces;*/
  white-space: pre-wrap; 

  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* hides scrollbar */
.messagebot::-webkit-scrollbar {
  display: none;
}

.messageuser {
  flex: 1;
  letter-spacing: -0.1px;
  font-family:'Courier New', Courier, monospace;
  color: #e9e773;
  font-size: 16px;

  max-width: 100%;
  overflow-x: scroll;

  
  white-space: pre-wrap; 

  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* hides scrollbar */
.messageuser::-webkit-scrollbar {
  display: none;
}
.subspan {
  font-size: 16px;
  color:yellow;
}
.divHeader {
    font-size: 26px;
    color: #d8d9e0;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    
    width: 100%;
    padding-top: 14px;
    padding-bottom: 1px;
    height: 50px;
    /*background-size: 100% 50%;
    background-image: url("header.png");*/
    background-image: linear-gradient(rgb(11, 21, 37), rgb(72, 215, 132));
    padding-left: 10px;
}
.formclass {
  width: 100%;
  /*max-width: 1280px;*/
  margin: 0 auto;
  padding: 5px;
  background: #40414F;

  display: flex;
  flex-direction: row;
  gap: 10px;
}

.formclass1 {
  width: 100%;
  /*max-width: 1280px;*/
  margin: 0 auto;
  padding: 5px;
  background: #40414F;
color: orange;
  display: flex;
  flex-direction: row;
  gap: 15px;
  font-style:initial;
  font-size: 16px;
  padding-top: 15px;
}

.formclass1span1{
  color: orange;
  margin-left: 1%;
}

.formclass1span2{
  color: teal;
}

.formclass1span3{
  color: violet;
}


textarea {
  width: 90%;
  color: rgb(241, 230, 230);
  font-size: 14px;

  padding: 10px;
  background: transparent;
  border-radius: 5px;
  border: 1px solid white;
  outline: none;
}

.inputtext {
  width: 90%;
  color: rgb(241, 230, 230);
  font-size: 16px;
  font-family:'Courier New', Courier, monospace;
  padding: 10px;
  background: transparent;
  border-radius: 5px;
  border: 1px solid white;
  outline: none;
}

.inputtext1 {
  width: 60px;
  color: rgb(241, 230, 230);
  font-size: 14px;
  font-family:'Courier New', Courier, monospace;
  padding: 4px;
  background: transparent;
  border-radius: 5px;
  border: 1px solid white;
  outline: none;
}


button {
  outline: 0;
  border: 0;
  cursor: pointer;
  background: transparent;
}

form img {
  width: 30px;
  height: 30px;
}

.btndisabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.btnReset {
    color: white;
    background-color: black;
   padding: 10px;
   padding-bottom: 25px;
    height: 30px;
    border-radius: 5px;
    font-size: 18px;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: whitesmoke;
    border-radius: 10px;
  }