@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
}

body {
  background: #343541;
}

.spanheaderLeft {
  float: left;
  width: 50%;
}

.spanheaderRight {
  float: left;
  width: 50%;
  margin-top: -40px;
}
#app {
  width: 100vw;
  height: 100vh;
  background: #343541;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow-y: auto;
}
.scrollContainer {
  height: 100%;
  overflow-y:auto;
}
#chat_container {
  flex: 1;
  width: 100%;
  height: 300px;
  overflow-y:auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-bottom: 20px;
  scroll-behavior: smooth;
}

/* hides scrollbar */
#chat_container::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 100%;
  padding: 10px;
}

.ai {
  background: #40414F;
}

.chat {
  width: 100%;
  /*max-width: 1280px;*/
  margin: 0 auto;
overflow-y: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  
}

.profile {
  width: 36px;
  height: 36px;
  border-radius: 5px;

  background: #5436DA;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ai .profile {
  background: #10a37f;
}

.profile img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.messagebot {
  flex: 1;

  color: #fbfaf5;
  font-size: 16px;

  max-width: 100%;
  overflow-x: scroll;

  /*white-space:break-spaces;*/
  white-space: pre-wrap; 

  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* hides scrollbar */
.messagebot::-webkit-scrollbar {
  display: none;
}

.messageuser {
  flex: 1;

  color: #ebc419;
  font-size: 16px;

  max-width: 100%;
  overflow-x: scroll;

  
  white-space: pre-wrap; 

  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* hides scrollbar */
.messageuser::-webkit-scrollbar {
  display: none;
}

.divHeader {
    font-size: 20px;
    color: #d8d9e0;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    
    width: 100%;
    padding-top: 25px;
    padding-bottom: 5px;
    height: 70px;
    /*background-size: 100% 50%;
    background-image: url("header.png");*/
    background-image: linear-gradient(rgb(11, 21, 37), rgb(72, 215, 132));
    padding-left: 10px;
}
.formclass {
  width: 100%;
  /*max-width: 1280px;*/
  margin: 0 auto;
  padding: 10px;
  background: #40414F;

  display: flex;
  flex-direction: row;
  gap: 10px;
}

textarea {
  width: 90%;
  color: rgb(241, 230, 230);
  font-size: 14px;

  padding: 10px;
  background: transparent;
  border-radius: 5px;
  border: 1px solid white;
  outline: none;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
  background: transparent;
}

form img {
  width: 30px;
  height: 30px;
}

.btnReset {
    color: white;
    background-color: black;
   padding: 10px;
   padding-bottom: 25px;
    height: 30px;
    border-radius: 5px;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: whitesmoke;
    border-radius: 10px;
  }